<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>6.1</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon</string>
		<string>Icon@2x</string>
		<string>Icon-72</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small-50</string>
		<string>spotlight@2x</string>
		<string>spotlight_ipad</string>
		<string>spotlight</string>
		<string>icon</string>
		<string>icon@2x</string>
		<string>icon_ipad@2x</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>FeedMeMom</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>TintColor</key>
			<dict>
				<key>Red</key>
				<real>0.513725490196078</real>
				<key>Green</key>
				<real>0.0196078431372549</real>
				<key>Blue</key>
				<real>0.215686274509804</real>
			</dict>
		</dict>
	</dict>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CFBundleIdentifier</key>
	<string>com.feedmemom.appfree</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
</dict>
</plist>
